<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.2AD5D51C-C0BB-4663-9E12-2F3EFB72B3AB</string>
	<key>lightthemeuid</key>
	<string>theme.custom.2AD5D51C-C0BB-4663-9E12-2F3EFB72B3AB</string>
</dict>
</plist>
