[user]
  name = Robin Mitra
  useConfigOnly = true        # Force specifying email for each new repository.
  email = robinmitra1@gmail.com

[alias]
  # These are set in '~/.git.aliases'.

[core]
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=4 -RFX

[include]
  path = ~/.git.aliases

[merge]
  ff = only                   # Only allow fast-forwarded merges.

[fetch]
  prune = true                # Prune remote tracking refs no longer present on remote.

[diff]
  compactionHeuristic = true  # more correct diff (but slow).

[commit]
  gpgsign = true              # Require signing commits by default.

[diff]
  colorMoved = zebra          # For differently render moved lines.

[gpg]
  program = /usr/local/MacGPG2/bin/gpg2  # Explicitly define GPG program in case there are multiple.
