[user]
  name = Robin Mitra
  useConfigOnly = true        # Force specifying email for each new repository.
  email = robinmitra1@gmail.com

[alias]
  # These are set in '~/.git.aliases'.

[core]
  excludesfile = ~/.gitignore.global
  pager = diff-so-fancy | less --tabs=4 -RFX
  autocrlf = input

[include]
  path = ~/.git.aliases

[merge]
  ff = only                   # Only allow fast-forwarded merges.

[fetch]
  prune = true                # Prune remote tracking refs no longer present on remote.

[diff]
  compactionHeuristic = true  # more correct diff (but slow).

[commit]
  gpgsign = true              # Require signing commits by default.

[diff]
  colorMoved = zebra          # For differently render moved lines.

# Needed in order for 'go get' to download from private repos.
# Comment out if this causes settings repository sync to fail.
[url "git@github.com:"]
  insteadOf = https://github.com/

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY

[pull]
	ff = only
[init]
	defaultBranch = main
