<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.targumanu.imdbsearch</string>
	<key>category</key>
	<string>Entertainment</string>
	<key>connections</key>
	<dict>
		<key>4AE7B47F-F0A2-41A6-9ACC-655B36EE91B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85886801-7F73-4478-B422-F2D157BD81B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F2F32C5-FC74-4E0C-925F-09FC0E475FD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AE7B47F-F0A2-41A6-9ACC-655B36EE91B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A609451A-702D-4805-862F-86503FA9E2E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AE7B47F-F0A2-41A6-9ACC-655B36EE91B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B4627CA3-B954-41C7-BE05-91CC36FE646F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85886801-7F73-4478-B422-F2D157BD81B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6382436-517A-4F3A-A6C4-FD68C77B2A10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0668616D-9362-4481-A6AE-DC278C89DDAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Matochkin</string>
	<key>description</key>
	<string>Search IMDb for movies, TV shows &amp; celebrities</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IMDb Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ii</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./IMDBSearch "{query}"</string>
				<key>subtext</key>
				<string>Search IMDb for movies, TV shows &amp; celebrities</string>
				<key>title</key>
				<string>IMDb Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4AE7B47F-F0A2-41A6-9ACC-655B36EE91B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>imdb</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7F2F32C5-FC74-4E0C-925F-09FC0E475FD4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./IMDBSearch "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>85886801-7F73-4478-B422-F2D157BD81B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A609451A-702D-4805-862F-86503FA9E2E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>i</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./IMDBSearch --escaped "{query}"</string>
				<key>subtext</key>
				<string>Search IMDb for movies, TV shows &amp; celebrities</string>
				<key>title</key>
				<string>IMDb Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B4627CA3-B954-41C7-BE05-91CC36FE646F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./IMDBSearch "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0668616D-9362-4481-A6AE-DC278C89DDAD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>iprefs</string>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string>./IMDBSearch --settings "{query}"</string>
				<key>title</key>
				<string>IMDb Search Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D6382436-517A-4F3A-A6C4-FD68C77B2A10</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0668616D-9362-4481-A6AE-DC278C89DDAD</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>4AE7B47F-F0A2-41A6-9ACC-655B36EE91B5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7F2F32C5-FC74-4E0C-925F-09FC0E475FD4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>85886801-7F73-4478-B422-F2D157BD81B3</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>A609451A-702D-4805-862F-86503FA9E2E7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B4627CA3-B954-41C7-BE05-91CC36FE646F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D6382436-517A-4F3A-A6C4-FD68C77B2A10</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
