<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.boulderhopkins.epoch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>75873060-DB04-4DFD-A5D8-DE828BE70974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>784813E2-F638-4FBD-9015-2F4F9C7A6F2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8454FD9-AA27-493E-BA31-43B1DB4D44DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C30DA5B7-9E61-4449-BEFB-47E29ED92A1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75873060-DB04-4DFD-A5D8-DE828BE70974</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Hopkins</string>
	<key>description</key>
	<string>Convert Epochs to readable time</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Epoch Conversion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>784813E2-F638-4FBD-9015-2F4F9C7A6F2B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>begin
  str = "{query}"
  t = Time.at(str.to_i)
  if t.year &gt; 2050
    t = Time.at(str.to_i / 1000)
  end
  puts t
rescue =&gt; e
  puts "Script blew up #{e}"
end

</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75873060-DB04-4DFD-A5D8-DE828BE70974</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>epoch</string>
				<key>text</key>
				<string>Convert your epoch to real time</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C30DA5B7-9E61-4449-BEFB-47E29ED92A1F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B8454FD9-AA27-493E-BA31-43B1DB4D44DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>75873060-DB04-4DFD-A5D8-DE828BE70974</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>784813E2-F638-4FBD-9015-2F4F9C7A6F2B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B8454FD9-AA27-493E-BA31-43B1DB4D44DF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C30DA5B7-9E61-4449-BEFB-47E29ED92A1F</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://boulderhopkins.com</string>
</dict>
</plist>
