<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Entertainment</string>
	<key>connections</key>
	<dict>
		<key>2992BAFC-C040-4AC8-A98A-1F1D5C66DDB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BCFB74F-CC40-48A8-BA3A-FA2CA77A0B51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4A5D7F98-C8ED-4CA6-9CF7-2198499C175F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97CE047E-F635-4CD4-A60D-53E570FBD026</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5B763E3F-8C2A-4EF9-A08C-2177711AD3E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA63FFD0-43BD-45CB-A2BA-5A1BF3C775F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5EC2DB10-8A3F-4568-9D7D-C3FE6E408E38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3522D2B-83C7-470D-8A33-E47CD911862B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2F03266-A858-4EFA-8D6A-356B791BA500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7E73CD7-0F56-4EE6-815F-0B27542CE260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA2DD1CF-32B9-4C97-ABA6-9389BC147473</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3522D2B-83C7-470D-8A33-E47CD911862B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D46723BD-7953-4F04-889F-E432CC750D28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7E73CD7-0F56-4EE6-815F-0B27542CE260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE26A10C-B279-4040-AE35-6D107AFC5DB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97CE047E-F635-4CD4-A60D-53E570FBD026</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Leyrer</string>
	<key>description</key>
	<string>Control Google Play Music via Chrome</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Play Music Chrome Controls</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gp next</string>
				<key>subtext</key>
				<string>Go to the next song!</string>
				<key>text</key>
				<string>Google Play - Next Song</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EC2DB10-8A3F-4568-9D7D-C3FE6E408E38</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Google Chrome"
  set allWins to every window
  set allTabs to {}
    repeat with currWin in allWins
      set allTabs to allTabs &amp; every tab of currWin
    end repeat
    repeat with currTab in allTabs
      try
        if (title of currTab) contains "Google Play" then set musicTab to currTab
      end try
    end repeat
  tell musicTab to execute javascript "(document.querySelector('[data-id=\"forward\"]')).click();"
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E3522D2B-83C7-470D-8A33-E47CD911862B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CA2DD1CF-32B9-4C97-ABA6-9389BC147473</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Google Chrome"
  set allWins to every window
  set allTabs to {}
    repeat with currWin in allWins
      set allTabs to allTabs &amp; every tab of currWin
    end repeat
    repeat with currTab in allTabs
      try
        if (title of currTab) contains "Google Play" then set musicTab to currTab
      end try
    end repeat
  tell musicTab to execute javascript "(document.querySelector('[data-id=\"rewind\"]')).click();"
end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>97CE047E-F635-4CD4-A60D-53E570FBD026</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gp prev</string>
				<key>subtext</key>
				<string>Go to the previous song!</string>
				<key>text</key>
				<string>Google Play - Previous Song</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4A5D7F98-C8ED-4CA6-9CF7-2198499C175F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FE26A10C-B279-4040-AE35-6D107AFC5DB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Google Chrome"		set allWins to every window		set allTabs to {}		repeat with currWin in allWins			set allTabs to allTabs &amp; every tab of currWin		end repeat		repeat with currTab in allTabs			try				if (title of currTab) contains "Google Play" then set musicTab to currTab			end try		end repeat		tell musicTab to execute javascript "(document.querySelector('[data-id=\"play-pause\"]')).click();"	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C7E73CD7-0F56-4EE6-815F-0B27542CE260</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gpp</string>
				<key>subtext</key>
				<string>Play or pause song!</string>
				<key>text</key>
				<string>Google Play - Play/Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C2F03266-A858-4EFA-8D6A-356B791BA500</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D46723BD-7953-4F04-889F-E432CC750D28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Google Chrome"
    set allWins to every window
    set allTabs to {}
    repeat with currWin in allWins
      set allTabs to allTabs &amp; every tab of currWin
    end repeat
    repeat with currTab in allTabs
      try
        if (title of currTab) contains "Google Play" then set musicTab to currTab
      end try
    end repeat
    tell musicTab to execute javascript "SJBpost('toggleShuffle');"
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>5BCFB74F-CC40-48A8-BA3A-FA2CA77A0B51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2992BAFC-C040-4AC8-A98A-1F1D5C66DDB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://music.google.com/music/listen?u=0#{query}_sr</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FA63FFD0-43BD-45CB-A2BA-5A1BF3C775F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gp search</string>
				<key>text</key>
				<string>Search Google Play</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5B763E3F-8C2A-4EF9-A08C-2177711AD3E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2992BAFC-C040-4AC8-A98A-1F1D5C66DDB8</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>4A5D7F98-C8ED-4CA6-9CF7-2198499C175F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5B763E3F-8C2A-4EF9-A08C-2177711AD3E1</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>5BCFB74F-CC40-48A8-BA3A-FA2CA77A0B51</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>5EC2DB10-8A3F-4568-9D7D-C3FE6E408E38</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>97CE047E-F635-4CD4-A60D-53E570FBD026</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C2F03266-A858-4EFA-8D6A-356B791BA500</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C7E73CD7-0F56-4EE6-815F-0B27542CE260</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CA2DD1CF-32B9-4C97-ABA6-9389BC147473</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>D46723BD-7953-4F04-889F-E432CC750D28</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>E3522D2B-83C7-470D-8A33-E47CD911862B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FA63FFD0-43BD-45CB-A2BA-5A1BF3C775F6</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>FE26A10C-B279-4040-AE35-6D107AFC5DB4</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
