<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>hotkeys.firedev.com</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>24124E81-0F76-41B8-9381-1E94D08EB595</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6DD5DDE-F2C1-4C60-A0CA-89AC49A44B76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3534EEEC-FCA1-4E97-B7F5-D87361995E6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC0EAC84-838E-4E8A-8C6D-32235D438FB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5723BE6F-12F2-4C42-AA6C-E557C7799E02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFBC6F0F-C609-4BA4-818C-98FC5C2EEF9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>57831D9C-30A5-4717-A47E-CC52F70A9C5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E819C42C-2C6A-46B1-9612-6A833DC5F6D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9038181A-A18B-471E-A20B-566930DF5866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4232CBC-6B51-48B0-A673-2201C9C6566E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CC24F605-ED21-4EEF-BCF8-6CF616E68C8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E7B653D-568C-40AD-8A29-7DF317ED2A6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0D170CF-42DF-4377-8032-B69D1C04AE97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EA7E76E9-E54B-4E51-8CA6-33CE809D5DFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>489E69BA-8D10-4653-ACAC-FB9F8DC77DCE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F68C3B7C-E6B3-43E2-ADB5-AE9460FAC731</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5188EC5-CC47-48F3-BE34-7D2BB6578C04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nick</string>
	<key>description</key>
	<string>Makes computer a single entity rather than a bunch of apps.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D0D170CF-42DF-4377-8032-B69D1C04AE97</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>FC0EAC84-838E-4E8A-8C6D-32235D438FB8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3534EEEC-FCA1-4E97-B7F5-D87361995E6A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Sublime Text.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>FFBC6F0F-C609-4BA4-818C-98FC5C2EEF9C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5723BE6F-12F2-4C42-AA6C-E557C7799E02</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Adium.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8E7B653D-568C-40AD-8A29-7DF317ED2A6B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CC24F605-ED21-4EEF-BCF8-6CF616E68C8A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/GitX.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>E819C42C-2C6A-46B1-9612-6A833DC5F6D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>57831D9C-30A5-4717-A47E-CC52F70A9C5D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Sparrow.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5F434FB2-819A-486E-A500-5232F36DEFB2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F68C3B7C-E6B3-43E2-ADB5-AE9460FAC731</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>24124E81-0F76-41B8-9381-1E94D08EB595</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D6DD5DDE-F2C1-4C60-A0CA-89AC49A44B76</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Sequel Pro.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B4232CBC-6B51-48B0-A673-2201C9C6566E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9038181A-A18B-471E-A20B-566930DF5866</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EA7E76E9-E54B-4E51-8CA6-33CE809D5DFE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/OmniFocus.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>489E69BA-8D10-4653-ACAC-FB9F8DC77DCE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Mail.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D1C43BE6-8F9B-47EF-8BE6-6001966760C2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Airmail.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B5188EC5-CC47-48F3-BE34-7D2BB6578C04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>24124E81-0F76-41B8-9381-1E94D08EB595</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>3534EEEC-FCA1-4E97-B7F5-D87361995E6A</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>489E69BA-8D10-4653-ACAC-FB9F8DC77DCE</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>5723BE6F-12F2-4C42-AA6C-E557C7799E02</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>57831D9C-30A5-4717-A47E-CC52F70A9C5D</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>5F434FB2-819A-486E-A500-5232F36DEFB2</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>8E7B653D-568C-40AD-8A29-7DF317ED2A6B</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>9038181A-A18B-471E-A20B-566930DF5866</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>B4232CBC-6B51-48B0-A673-2201C9C6566E</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>B5188EC5-CC47-48F3-BE34-7D2BB6578C04</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>CC24F605-ED21-4EEF-BCF8-6CF616E68C8A</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>D0D170CF-42DF-4377-8032-B69D1C04AE97</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D1C43BE6-8F9B-47EF-8BE6-6001966760C2</key>
		<dict>
			<key>ypos</key>
			<real>930</real>
		</dict>
		<key>D6DD5DDE-F2C1-4C60-A0CA-89AC49A44B76</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>E819C42C-2C6A-46B1-9612-6A833DC5F6D4</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>EA7E76E9-E54B-4E51-8CA6-33CE809D5DFE</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>F51AFF16-38A4-4E7D-ABC7-7F31B762FE32</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F68C3B7C-E6B3-43E2-ADB5-AE9460FAC731</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>FC0EAC84-838E-4E8A-8C6D-32235D438FB8</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>FFBC6F0F-C609-4BA4-818C-98FC5C2EEF9C</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>firedev.com</string>
</dict>
</plist>
