<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mix1009.alfred.openinfindertab</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>BB43773E-0508-4F9D-90D9-49D0F5F70799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83E80E2F-D05B-4C6C-98DD-9D8D4EECED9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mix1009</string>
	<key>description</key>
	<string>Search for folders in your home folder and open in finder tab</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Finder Tab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>ot</string>
				<key>scopes</key>
				<array>
					<string>~</string>
				</array>
				<key>title</key>
				<string>Open in Finder Tab</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>BB43773E-0508-4F9D-90D9-49D0F5F70799</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># encoding: utf-8
import os
import sys
from subprocess import Popen, PIPE

def run_apple_script(scpt):
  p = Popen(['osascript', '-'], stdin=PIPE, stdout=PIPE, stderr=PIPE)
  stdout, stderr = p.communicate(scpt)
  return (p.returncode, stdout, stderr)

def open_finder_tab(path):
  path = os.path.abspath(path)
  aspath = path.replace("/", ":")[1:]
  script = """
tell application "Finder"
	activate
end tell

tell application "System Events" to keystroke "t" using command down

tell application "Finder"

	set startupDisk to path to startup disk as text
	set docs_path to startupDisk &amp; "%s" as text
	set target of front window to docs_path

end tell
""" % (aspath)
  run_apple_script(script)


open_finder_tab("{query}")
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83E80E2F-D05B-4C6C-98DD-9D8D4EECED9D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>83E80E2F-D05B-4C6C-98DD-9D8D4EECED9D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BB43773E-0508-4F9D-90D9-49D0F5F70799</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
