<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chintanbuch.alfred.epoch2dt</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>22FB2D10-320F-452C-B32F-8327DC230584</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6D082C2-CDE5-416E-BEF5-6E3BE21C86CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A6D082C2-CDE5-416E-BEF5-6E3BE21C86CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC848AB9-FD04-40C3-8B21-008A90EA9A56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chintan Buch</string>
	<key>description</key>
	<string>convert epoch number to readable datetime</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Epoch to DateTime</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>BC848AB9-FD04-40C3-8B21-008A90EA9A56</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>import datetime
print(datetime.datetime.fromtimestamp({query}).strftime('%Y'))
print(datetime.datetime.fromtimestamp({query}).strftime('%m (%B)'))
print(datetime.datetime.fromtimestamp({query}).strftime('%d (%A)'))
print(datetime.datetime.fromtimestamp({query}).strftime('%I:%M:%S %p'))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A6D082C2-CDE5-416E-BEF5-6E3BE21C86CC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>epoch2dt</string>
				<key>text</key>
				<string>Epoch to Readable DateTime</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22FB2D10-320F-452C-B32F-8327DC230584</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>22FB2D10-320F-452C-B32F-8327DC230584</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A6D082C2-CDE5-416E-BEF5-6E3BE21C86CC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BC848AB9-FD04-40C3-8B21-008A90EA9A56</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://chintanbuch.com</string>
</dict>
</plist>
