<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.nf.ritashugisha.omnitube</string>
	<key>category</key>
	<string>Entertainment</string>
	<key>connections</key>
	<dict>
		<key>0F381716-8CEF-4830-90B8-DF4AE7E5408A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCF89499-4E5E-42E8-800F-EDAD012517EB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View recent uploads from "{query}"</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
		</array>
		<key>16846FDB-5C58-4C09-985A-6F8BA4134EC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>1F1FD2C5-5F70-4642-99F0-AB8FA31B64CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25BB0D97-6690-406F-8083-5C98EB545C15</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download all videos using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CCF89499-4E5E-42E8-800F-EDAD012517EB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View recent uploads from "{query}"</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
		</array>
		<key>2B0DF474-0418-42F1-A91C-913FFEAAC4E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8D464D3-E7C5-4B67-8CC1-91B32AE1358C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>307C2794-989A-4C6E-97F1-EBCA798CA0B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DAA77D2-83C1-4500-9457-A8C49ABAAD34</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download all videos using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DCEA6EFA-3E1E-4B9A-B210-F9BDFF504381</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View feed of videos in "{query}"</string>
			</dict>
		</array>
		<key>40FD0E44-8446-48B3-82B3-498219417265</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8D464D3-E7C5-4B67-8CC1-91B32AE1358C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DAA77D2-83C1-4500-9457-A8C49ABAAD34</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download all videos using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>08C1F880-6DA2-4DA7-B54C-E5E15695459E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Delete playlist "{query}"</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>49B24AE2-1E5F-4D37-9A6A-80EDE005AE50</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>View feed of videos in "{query}"</string>
			</dict>
		</array>
		<key>4DC15C66-20F2-407D-8DE9-F44449015216</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>69C67274-4A8B-4CD6-9647-015C7FFCABD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A3ADA24B-A266-451F-B19C-6F303AB925A5</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Remove "{query}" from Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>7229B5DF-A04C-4EB5-987A-FA71135C2216</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>99FD5894-7B8B-4E24-8847-FBADB6A910F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8D464D3-E7C5-4B67-8CC1-91B32AE1358C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>A6EA731E-EE99-4A4B-9B3B-C2AA0736E63F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>AA3E6198-6F87-46DF-BB94-0763DE141A50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>ED8E2785-9C77-40FE-997A-12ABA4B01044</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F5598EA-5994-4469-8280-1B9E806BEF58</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Remove "{query}" from Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
		<key>F6B98C46-7A01-4978-B2B4-1A13B0878EA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8DAA77D2-83C1-4500-9457-A8C49ABAAD34</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download all videos using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96116AA9-2682-44D7-9611-E17787CB86A1</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Edit this playlist</string>
			</dict>
		</array>
		<key>FDFD16E7-C040-4E1B-BA7C-DC2A5AB46964</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download "{query}" using Luxinate</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A335E843-9469-4735-A072-025FD0BE7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Copy "{query}" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Favorites</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Add "{query}" to Watch Later</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Add to a specific playlist</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ritashugisha</string>
	<key>description</key>
	<string>Alfred ⇄ YouTube account automation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OmniTube</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>youfeed</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getFeed()</string>
				<key>subtext</key>
				<string>View your YouTube feed</string>
				<key>title</key>
				<string>YouTube Feed</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AA3E6198-6F87-46DF-BB94-0763DE141A50</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniUtil
OmniUtil.priorityOutput("{query}")</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8D464D3-E7C5-4B67-8CC1-91B32AE1358C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>youprofile</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getProfile()</string>
				<key>subtext</key>
				<string>View your YouTube profile</string>
				<key>title</key>
				<string>YouTube Profile</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B0DF474-0418-42F1-A91C-913FFEAAC4E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>youpopular</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getPopular()</string>
				<key>subtext</key>
				<string>View today's most popular videos</string>
				<key>title</key>
				<string>YouTube Most Popular</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4DC15C66-20F2-407D-8DE9-F44449015216</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniUtil
OmniUtil.__searchAlfred__('luxinate ► ' + '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E407271-48E6-4BBB-B565-304FC6B66E03</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniUtil
OmniUtil.__searchAlfred__('luxuser ► ' + '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25BB0D97-6690-406F-8083-5C98EB545C15</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>youvideo ►</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.queryVideo('{query}')</string>
				<key>subtext</key>
				<string>Search YouTube for a specific video</string>
				<key>title</key>
				<string>YouTube Video</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A6EA731E-EE99-4A4B-9B3B-C2AA0736E63F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>youchannel ►</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.queryChannel('{query}')</string>
				<key>subtext</key>
				<string>Search YouTube for a specific channel</string>
				<key>title</key>
				<string>YouTube Channel</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1F1FD2C5-5F70-4642-99F0-AB8FA31B64CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A335E843-9469-4735-A072-025FD0BE7901</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>youplaylist ►</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.queryPlaylist('{query}')</string>
				<key>subtext</key>
				<string>Search YouTube for a specific playlist</string>
				<key>title</key>
				<string>YouTube Playlist</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>307C2794-989A-4C6E-97F1-EBCA798CA0B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniUtil
OmniUtil.__searchAlfred__('luxplaylist ► ' + '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8DAA77D2-83C1-4500-9457-A8C49ABAAD34</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>youhistory</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getHistory()</string>
				<key>subtext</key>
				<string>See your recent YouTube history</string>
				<key>title</key>
				<string>YouTube History</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>99FD5894-7B8B-4E24-8847-FBADB6A910F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniUtil
OmniUtil.__searchAlfred__('► channelrecent ' + '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CCF89499-4E5E-42E8-800F-EDAD012517EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniTube
OmniTube.removeFavorite('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A3ADA24B-A266-451F-B19C-6F303AB925A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B91622FD-1218-4303-80D4-BE74F6206470</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► favorites</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getFavorites()</string>
				<key>subtext</key>
				<string>View your YouTube favorites</string>
				<key>title</key>
				<string>YouTube Favorites</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>69C67274-4A8B-4CD6-9647-015C7FFCABD2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► watchlater</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getWatchLater()</string>
				<key>subtext</key>
				<string>View your YouTube watch later playlist</string>
				<key>title</key>
				<string>YouTube Watch Later</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED8E2785-9C77-40FE-997A-12ABA4B01044</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniTube
OmniTube.addFavorite('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84947FB0-1D6A-45BB-A91A-B610494117CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniTube
OmniTube.addWatchLater('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>952570E6-A7F8-404B-B680-607DB42FE262</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► subscriptions</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getSubscriptions()</string>
				<key>subtext</key>
				<string>View your YouTube Subscriptions</string>
				<key>title</key>
				<string>YouTube Subscriptions</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0F381716-8CEF-4830-90B8-DF4AE7E5408A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► channelrecent</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getChannelFeed('{query}')</string>
				<key>subtext</key>
				<string>View a channel's recent uploads</string>
				<key>title</key>
				<string>YouTube Channel Feed</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7229B5DF-A04C-4EB5-987A-FA71135C2216</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniTube
OmniTube.removeWatchLater('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F5598EA-5994-4469-8280-1B9E806BEF58</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniUtil
OmniUtil.__searchAlfred__('► playlistfeed ' + '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DCEA6EFA-3E1E-4B9A-B210-F9BDFF504381</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► uploads</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getUploads()</string>
				<key>subtext</key>
				<string>View your YouTube uploads</string>
				<key>title</key>
				<string>YouTube Uploads</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FDFD16E7-C040-4E1B-BA7C-DC2A5AB46964</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► playlists</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getPlaylists()</string>
				<key>subtext</key>
				<string>View your YouTube playlists</string>
				<key>title</key>
				<string>YouTube Playlists</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40FD0E44-8446-48B3-82B3-498219417265</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniTube
OmniTube.removePlaylist('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08C1F880-6DA2-4DA7-B54C-E5E15695459E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniUtil
OmniUtil.__searchAlfred__('► myplaylistfeed ' + '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49B24AE2-1E5F-4D37-9A6A-80EDE005AE50</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► playlistfeed</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getPlaylistFeed('{query}')</string>
				<key>subtext</key>
				<string>View a playlist's feed of videos</string>
				<key>title</key>
				<string>YouTube Playlist's Feed</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>16846FDB-5C58-4C09-985A-6F8BA4134EC9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniTube
OmniTube.addToPlaylist('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>► myplaylistfeed</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>import OmniTube
print OmniTube.getPlaylistFeed('{query}')</string>
				<key>subtext</key>
				<string>View your playlist's feed of videos</string>
				<key>title</key>
				<string>YouTube Playlist's Feed</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F6B98C46-7A01-4978-B2B4-1A13B0878EA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>import OmniTube
OmniTube.removeFromPlaylist('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96116AA9-2682-44D7-9611-E17787CB86A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08C1F880-6DA2-4DA7-B54C-E5E15695459E</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>0F381716-8CEF-4830-90B8-DF4AE7E5408A</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>0F5598EA-5994-4469-8280-1B9E806BEF58</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>16846FDB-5C58-4C09-985A-6F8BA4134EC9</key>
		<dict>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>1F1FD2C5-5F70-4642-99F0-AB8FA31B64CE</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>25BB0D97-6690-406F-8083-5C98EB545C15</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>2B0DF474-0418-42F1-A91C-913FFEAAC4E3</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>307C2794-989A-4C6E-97F1-EBCA798CA0B7</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>40FD0E44-8446-48B3-82B3-498219417265</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>49B24AE2-1E5F-4D37-9A6A-80EDE005AE50</key>
		<dict>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>4DC15C66-20F2-407D-8DE9-F44449015216</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>69C67274-4A8B-4CD6-9647-015C7FFCABD2</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>7229B5DF-A04C-4EB5-987A-FA71135C2216</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>7D1ABBA7-906F-4F53-9A20-C9B9E4D011B0</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>84947FB0-1D6A-45BB-A91A-B610494117CA</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>8DAA77D2-83C1-4500-9457-A8C49ABAAD34</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>8E407271-48E6-4BBB-B565-304FC6B66E03</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>952570E6-A7F8-404B-B680-607DB42FE262</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>96116AA9-2682-44D7-9611-E17787CB86A1</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>99FD5894-7B8B-4E24-8847-FBADB6A910F6</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>A335E843-9469-4735-A072-025FD0BE7901</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>A3ADA24B-A266-451F-B19C-6F303AB925A5</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>A6EA731E-EE99-4A4B-9B3B-C2AA0736E63F</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>AA3E6198-6F87-46DF-BB94-0763DE141A50</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B91622FD-1218-4303-80D4-BE74F6206470</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>CCF89499-4E5E-42E8-800F-EDAD012517EB</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>D8D464D3-E7C5-4B67-8CC1-91B32AE1358C</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>DCEA6EFA-3E1E-4B9A-B210-F9BDFF504381</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>ED8E2785-9C77-40FE-997A-12ABA4B01044</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>F6B98C46-7A01-4978-B2B4-1A13B0878EA8</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>FDFD16E7-C040-4E1B-BA7C-DC2A5AB46964</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.ritashugisha.co.nf</string>
</dict>
</plist>
