<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tylereich.favorites</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2498A99E-6E56-4A52-9A0F-459A1029C688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1A95C56-8D83-4FD9-9563-8636A7F93978</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>823BB39F-4E00-4A1F-975C-9DAC67DAEA51</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>290F6931-A9F0-4547-9196-2187F7534B55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B6BD71F-027C-4652-9001-771485949D34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D89C27EF-D9B6-413E-920D-1863844F9316</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09A8FA4A-4726-4AD2-9628-7A968C7FCD0A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4BA71ED6-80DC-4D73-BC22-89AB6A038916</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Remove from Favorites</string>
			</dict>
		</array>
		<key>2D56E997-57BB-4B74-919E-706B273E1326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BCD1015-6DEA-462C-8E37-F1439F833A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4BA71ED6-80DC-4D73-BC22-89AB6A038916</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BCD1015-6DEA-462C-8E37-F1439F833A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BCD1015-6DEA-462C-8E37-F1439F833A70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2041779-27B9-4E1E-BF29-4047298B2FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AB1EF077-83C1-4BEA-842A-DAE1D711DF9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D56E997-57BB-4B74-919E-706B273E1326</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BF326558-2A45-404B-820A-73F6BEB0D5C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D56E997-57BB-4B74-919E-706B273E1326</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D1A95C56-8D83-4FD9-9563-8636A7F93978</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>823BB39F-4E00-4A1F-975C-9DAC67DAEA51</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Browse in Alfred</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Eich</string>
	<key>description</key>
	<string>Quickly access your favorite files and folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Favorites</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>5B6BD71F-027C-4652-9001-771485949D34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>D89C27EF-D9B6-413E-920D-1863844F9316</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>64</integer>
				<key>keyword</key>
				<string>fav</string>
				<key>runningsubtext</key>
				<string>Getting your list of favorites…</string>
				<key>script</key>
				<string>python get.py '{query}'</string>
				<key>subtext</key>
				<string>Find your favorite files and folders</string>
				<key>title</key>
				<string>Favorites</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>290F6931-A9F0-4547-9196-2187F7534B55</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>09A8FA4A-4726-4AD2-9628-7A968C7FCD0A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python remove.py '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4BA71ED6-80DC-4D73-BC22-89AB6A038916</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Favorites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2BCD1015-6DEA-462C-8E37-F1439F833A70</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python add.py '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D56E997-57BB-4B74-919E-706B273E1326</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to Favorites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>AB1EF077-83C1-4BEA-842A-DAE1D711DF9C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>D1A95C56-8D83-4FD9-9563-8636A7F93978</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>addfav</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Add to Favorites…</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>BF326558-2A45-404B-820A-73F6BEB0D5C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>64</integer>
				<key>keyword</key>
				<string>remfav</string>
				<key>script</key>
				<string>python get.py '{query}'</string>
				<key>title</key>
				<string>Remove from Favorites…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2498A99E-6E56-4A52-9A0F-459A1029C688</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>823BB39F-4E00-4A1F-975C-9DAC67DAEA51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Remove from Favorites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A2041779-27B9-4E1E-BF29-4047298B2FFA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python remove.py '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Fork of David Ferguson’s original 'Favorites' workflow</string>
	<key>uidata</key>
	<dict>
		<key>09A8FA4A-4726-4AD2-9628-7A968C7FCD0A</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2498A99E-6E56-4A52-9A0F-459A1029C688</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>290F6931-A9F0-4547-9196-2187F7534B55</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>2BCD1015-6DEA-462C-8E37-F1439F833A70</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>2D56E997-57BB-4B74-919E-706B273E1326</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>4BA71ED6-80DC-4D73-BC22-89AB6A038916</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>4EE21E91-B16A-4CF3-9B40-2E2198555BF2</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>5B6BD71F-027C-4652-9001-771485949D34</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>823BB39F-4E00-4A1F-975C-9DAC67DAEA51</key>
		<dict>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>A2041779-27B9-4E1E-BF29-4047298B2FFA</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>AB1EF077-83C1-4BEA-842A-DAE1D711DF9C</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>BF326558-2A45-404B-820A-73F6BEB0D5C6</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>D1A95C56-8D83-4FD9-9563-8636A7F93978</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>D89C27EF-D9B6-413E-920D-1863844F9316</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/TylerEich/Alfred-Extras</string>
</dict>
</plist>
