<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fspinillo.alfredv2.digitalocean</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0DE3D7DD-DA55-46EE-8B55-BAC1F367C1E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BD0906D-2450-40C2-9471-45B73166E7C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>19EA4891-D443-4996-9A90-0CAC3F0F0AB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E45B79C-0F75-4EDC-869E-5712FAE0AE8A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Select a droplet to shutdown</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E9FAE7C-49BF-48CA-8EB1-C4A713DB9B3C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Select a droplet to reboot</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FF063008-DD19-4D30-80C2-94B45D8A81BA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Select a droplet to power on</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DE3D7DD-DA55-46EE-8B55-BAC1F367C1E5</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Select a droplet to power cycle</string>
			</dict>
		</array>
		<key>4E9FAE7C-49BF-48CA-8EB1-C4A713DB9B3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B034C44-9F07-4D1F-87EB-FF57F657E4F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7E45B79C-0F75-4EDC-869E-5712FAE0AE8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1494C379-52FA-4648-B507-52C8DC9CE5BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7EC55790-B6E7-4853-8710-F0B549674B65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A12E762-696B-41EB-81AF-E47E158D0F6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>910EA327-3EB9-4B8E-8676-2DBE4EB04A21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF4D3E84-02F6-4ED3-A8F9-1EF2EB538918</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AF4D3E84-02F6-4ED3-A8F9-1EF2EB538918</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AA14F22-6541-488E-BBF5-BF8A5D23962D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D118D066-14F7-4834-B9B0-833318643DB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EC55790-B6E7-4853-8710-F0B549674B65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF063008-DD19-4D30-80C2-94B45D8A81BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0802A3D4-30E2-4B5A-A5AE-C254CDA7EF9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fspinillo</string>
	<key>description</key>
	<string>Quickly grap status of Digital Ocean droplets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Digital Ocean status</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python do_alfred.py --setkey "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AF4D3E84-02F6-4ED3-A8F9-1EF2EB538918</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your DO token has been saved</string>
				<key>title</key>
				<string>Saved token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5AA14F22-6541-488E-BBF5-BF8A5D23962D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dotoken</string>
				<key>subtext</key>
				<string>Enter your token and hit ENTER</string>
				<key>text</key>
				<string>Set your Digital Ocean token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>910EA327-3EB9-4B8E-8676-2DBE4EB04A21</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python do_shutdown.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E45B79C-0F75-4EDC-869E-5712FAE0AE8A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your droplet is shutting down</string>
				<key>title</key>
				<string>Initiating a shutdown</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1494C379-52FA-4648-B507-52C8DC9CE5BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your droplet is rebooting</string>
				<key>title</key>
				<string>Initiating a reboot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3B034C44-9F07-4D1F-87EB-FF57F657E4F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python do_reboot.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4E9FAE7C-49BF-48CA-8EB1-C4A713DB9B3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>dos</string>
				<key>runningsubtext</key>
				<string>Getting status of droplets...</string>
				<key>script</key>
				<string>python do_alfred.py</string>
				<key>subtext</key>
				<string>Getting status of droplets...</string>
				<key>title</key>
				<string>Getting status of droplets...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19EA4891-D443-4996-9A90-0CAC3F0F0AB6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python do_poweron.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF063008-DD19-4D30-80C2-94B45D8A81BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your droplet is powering on</string>
				<key>title</key>
				<string>Initiating a power on</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0802A3D4-30E2-4B5A-A5AE-C254CDA7EF9E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python do_power_cycle.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DE3D7DD-DA55-46EE-8B55-BAC1F367C1E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your droplet will power-cycle</string>
				<key>title</key>
				<string>Initiating a power-cycle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2BD0906D-2450-40C2-9471-45B73166E7C9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python do_snapshot.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EC55790-B6E7-4853-8710-F0B549674B65</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Creating a snapshot for your droplet</string>
				<key>title</key>
				<string>Initiating a snapshot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A12E762-696B-41EB-81AF-E47E158D0F6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>sshot</string>
				<key>runningsubtext</key>
				<string>Loading droplets...</string>
				<key>script</key>
				<string>python do_snapshot_check.py</string>
				<key>subtext</key>
				<string>Loading droplets...</string>
				<key>title</key>
				<string>Choose a droplet to snapshot</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D118D066-14F7-4834-B9B0-833318643DB5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0802A3D4-30E2-4B5A-A5AE-C254CDA7EF9E</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>0DE3D7DD-DA55-46EE-8B55-BAC1F367C1E5</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>1494C379-52FA-4648-B507-52C8DC9CE5BD</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>19EA4891-D443-4996-9A90-0CAC3F0F0AB6</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>2BD0906D-2450-40C2-9471-45B73166E7C9</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>3B034C44-9F07-4D1F-87EB-FF57F657E4F1</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>4E9FAE7C-49BF-48CA-8EB1-C4A713DB9B3C</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>5AA14F22-6541-488E-BBF5-BF8A5D23962D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6A12E762-696B-41EB-81AF-E47E158D0F6F</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>7E45B79C-0F75-4EDC-869E-5712FAE0AE8A</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>7EC55790-B6E7-4853-8710-F0B549674B65</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>910EA327-3EB9-4B8E-8676-2DBE4EB04A21</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AF4D3E84-02F6-4ED3-A8F9-1EF2EB538918</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D118D066-14F7-4834-B9B0-833318643DB5</key>
		<dict>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>FF063008-DD19-4D30-80C2-94B45D8A81BA</key>
		<dict>
			<key>ypos</key>
			<real>380</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fspinillo/Alfred-Workflows</string>
</dict>
</plist>
