<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.regexrenamer</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0588578D-54A8-49E1-B419-8159774C89E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>700E0E49-DA52-4582-8164-40F6D0EFEBD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>247441FF-F18D-4DE5-A022-EDB5C996FA18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6444444-96F7-44D5-A289-5F3B6C7C3B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>279485FB-0F39-4124-8662-38A141962D36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6444444-96F7-44D5-A289-5F3B6C7C3B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2FCBAE00-64D9-4A6E-8343-2DF7EFE7DD88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E78821A0-9C64-4CB4-B79F-1F04113BF825</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4E8C31C5-603D-4361-A4E4-F399F17BB3DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6444444-96F7-44D5-A289-5F3B6C7C3B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6EE973B6-1B17-4122-BA46-50AD879235B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61B8EB1-C6BE-4D21-AAA1-092B4441CC8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>710219B1-A28A-4778-805F-48BA921E627A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6444444-96F7-44D5-A289-5F3B6C7C3B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>72C854A9-44A4-4175-AF72-835F3D14A8B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6444444-96F7-44D5-A289-5F3B6C7C3B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C0BD012A-62C1-4145-8E18-3F76A782B569</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>247441FF-F18D-4DE5-A022-EDB5C996FA18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C6D7FFDD-E893-4EF1-9CD7-C5DB5E1B29E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6444444-96F7-44D5-A289-5F3B6C7C3B53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D61B8EB1-C6BE-4D21-AAA1-092B4441CC8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3151519C-F29E-46CC-9468-80D206184088</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F6444444-96F7-44D5-A289-5F3B6C7C3B53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>119594F5-D1BF-41E9-A55B-5F871B542EF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Rename files or folders using Regular Expression | Version 2.0</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RegEx Renamer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>regex </string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C0BD012A-62C1-4145-8E18-3F76A782B569</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>regex</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_01.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Select files in Finder first</string>
				<key>title</key>
				<string>RegEx Renamer</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>247441FF-F18D-4DE5-A022-EDB5C996FA18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>❊ regex</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_01.scpt")) with parameters {"{query}.|."}</string>
				<key>title</key>
				<string>RegEx for File Action</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C6D7FFDD-E893-4EF1-9CD7-C5DB5E1B29E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>⦿ recent</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_01.scpt")) with parameters {"{query}" &amp; "|LR|false"}</string>
				<key>title</key>
				<string>Recent Expressions</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>279485FB-0F39-4124-8662-38A141962D36</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_02.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6444444-96F7-44D5-A289-5F3B6C7C3B53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>❊ recent</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_01.scpt")) with parameters {"{query}" &amp; "|LR|true"}</string>
				<key>title</key>
				<string>Recent Expressions</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72C854A9-44A4-4175-AF72-835F3D14A8B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>RegEx Renamer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>119594F5-D1BF-41E9-A55B-5F871B542EF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>⦿ presets</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_01.scpt")) with parameters {"{query}" &amp; "|PR|false"}</string>
				<key>title</key>
				<string>Presets</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>710219B1-A28A-4778-805F-48BA921E627A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>❊ presets</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_01.scpt")) with parameters {"{query}"  &amp; "|PR|true"}</string>
				<key>title</key>
				<string>Presets</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4E8C31C5-603D-4361-A4E4-F399F17BB3DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_02.scpt")) with parameters {"{query}" &amp; "|UL|"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D61B8EB1-C6BE-4D21-AAA1-092B4441CC8F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>Use Last Expression</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6EE973B6-1B17-4122-BA46-50AD879235B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>RegEx Renamer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3151519C-F29E-46CC-9468-80D206184088</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Rename with RegEx</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>2FCBAE00-64D9-4A6E-8343-2DF7EFE7DD88</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/regex_alf.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E78821A0-9C64-4CB4-B79F-1F04113BF825</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>do shell script "open " &amp; (quoted form of (POSIX path of ((do shell script "pwd") &amp; "/help.pdf")))</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>700E0E49-DA52-4582-8164-40F6D0EFEBD8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>regex?</string>
				<key>subtext</key>
				<string>Learn about RegEx Renamer</string>
				<key>text</key>
				<string>Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0588578D-54A8-49E1-B419-8159774C89E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0588578D-54A8-49E1-B419-8159774C89E5</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>119594F5-D1BF-41E9-A55B-5F871B542EF8</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>247441FF-F18D-4DE5-A022-EDB5C996FA18</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>279485FB-0F39-4124-8662-38A141962D36</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2FCBAE00-64D9-4A6E-8343-2DF7EFE7DD88</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>3151519C-F29E-46CC-9468-80D206184088</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>4E8C31C5-603D-4361-A4E4-F399F17BB3DC</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>6EE973B6-1B17-4122-BA46-50AD879235B6</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>700E0E49-DA52-4582-8164-40F6D0EFEBD8</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>710219B1-A28A-4778-805F-48BA921E627A</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>72C854A9-44A4-4175-AF72-835F3D14A8B4</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>C0BD012A-62C1-4145-8E18-3F76A782B569</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C6D7FFDD-E893-4EF1-9CD7-C5DB5E1B29E1</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D61B8EB1-C6BE-4D21-AAA1-092B4441CC8F</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>E78821A0-9C64-4CB4-B79F-1F04113BF825</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>F6444444-96F7-44D5-A289-5F3B6C7C3B53</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
